---
---
@forward "main";

/* Profile picture in top left */
.profile-image {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  border: 2px solid #c2dbff;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

/* Matches sidebar with body background-image */
.sidenav, body {
  background-image: url('{{ site.baseurl }}/assets/images/lined-paper-background.png');
  background-attachment: fixed; /* Keeps background image fixed while scrolling*/
  }

/* Highlights blog name */
.blog-name {
  background-color: yellow;
  display: inline-block;
  padding: 2px 5px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: solid red;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

/* Add unique background colors for the 6 sidebar links */
.sidenav a:nth-child(1) {
  background-color: #f8b5b0; /* Light red */
}

.sidenav a:nth-child(2) {
  background-color: #f8deb0;
}

.sidenav a:nth-child(3) {
  background-color: #fafbae;
}

.sidenav a:nth-child(4) {
  background-color: #d5ffa4;
}

.sidenav a:nth-child(5) {
  background-color: #a4fff3;
}

.sidenav a:nth-child(6) {
  background-color: #e5a4ff;
}
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: blue;
  }

  nav a.current {
    font-weight: bold; /* Makes current link bolded */
  }
  
  /* Search Box */
  .input-container {
    margin-top: 2px;
    display: flex;           /* Align elements in a row */
    justify-content: center; /* Optionally, center the inputs horizontally */
    align-items: center;     /* Align the inputs vertically */
    
  }
  
  input[type="text"] {
    width: 119px;
    font-size: 16px;
    border: 2px solid #ccc;

  }
  
  input[type="submit"] {

    display: inline-block; /* Allows buttons to size according to content */
    background-color: #ebe5e5; /* Light gray background */
    color: #000; /* Black text for contrast */
    border: 2px solid #aaa; /* Slightly darker border for a box effect */

  }

  
  /* Style page content */
  .main {
    // Margins
    margin-left: 150px; /* Same as the width of the sidebar */
    margin-top: -20px;
   
    // Padding and width
    padding: 20px; /* Adds space around the text */
    max-width: 800px; /* Limits the width of the text container */
    width: 75%;
    
    // Transparent box background
    background-color: white; /* White background for the body */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    opacity: 0.8;
  }

  // /* Container for displaying posts */
  // .container, #search-results li {
  //   /* Flex box lay out */
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;

  //   /* Sizing */
  //   max-width: 750px;
  //   min-height: 100px;

  //   /* Spacing */
  //   padding: 5px 14px;
  //   margin-left: -36px;
  //   margin-bottom: 15px;    

  //   /* List style */
  //   list-style-type: none; /* Removes bullet points */

  //   /* Borders and appearance */
  //   border-radius: 4px;
  //   border: 2px solid #000;
  //   background-color: #FFF8A7;
  // }

  .container, #search-results li {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    list-style-type: none; /* Removes bullet points */

    min-height: 100px;
    padding: 5px 14px;
    margin-left: -36px;
    margin-bottom: 15px;  

    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #000;
    background-color: #FFF8A7;
  }
  
  .container li {
    flex-grow: 1;
  }
  

    /* Style individual search result items */
    #search-results li a {
      margin: 0; /* Remove all margin from the <a> tag */
      padding: 0; /* Remove padding, if any */
    }
    
    #search-results li p {
      margin: 0 0 20px 0; /* Keep only bottom margin */
      padding: 0; /* Remove padding, if any */
    }


// For mobile 

    @media only screen and (max-width: 600px) {
      .container {
        min-height: 187px;
      }
    
      .container li {
        font-size: 16px; /* Set font size for <li> text */
      }
    
      .container h4 {
        font-size: 18px; /* Set font size for <h4> headers */
      }
    
      .container h4 a {
        font-size: 18px; /* Ensure <a> links inherit the header's font size */
      }
    }
    